# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
.env/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / Dist
build/
dist/
*.spec

# Virtualenvs
env/
venv/

app/config/settings.local.toml
